@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&displays=swap');
body {
    background-color: rgb(250, 250, 248);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1Opx 5%;
}
.logo {
    font-size: 25px;
}
.logo span {
    color: #93d6d0;
}
nav .menu a {
    position: relative;
    margin: 0 10px;
    text-decoration: 0;
    color: #999;
    transition: 0.5s;

}
nav .menu a:before {
    position: absolute;
    top: -2px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #93d6d0;
    transition: 0.5s;
}
nav .menu a:hover:before {
    width: 100%;
}
nav .menu a:hover {
    color: #000;
}
/* home */

.home {
    height: calc(100vh - 55px);
    background: url(images/td-bank-auto-loan-review.jpeg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 50px;
}
.home-infos {
    background-color: #fff;
    border-radius: 6px;
    padding: 50px;
    animation: anime 2s linear;
}
/* animation home-infos */

@keyframes anime {
    from{
        transform: translateX(-600px);
    }    
}
.home-infos h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home-infos p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.home-infos a {
    text-decoration: 0;
    border: 2px solid #93d6d0;
    color: "#93d6d0";
    border-radius: 6px;
    padding: 5px 20px;
    margin-top: 5px;
    font-weight: 400;
    text-transform: capitalize;
    transition: 0.5s;
}
.home-infos a:hover {
    background-color: #93d6d0;
    color: #fff;
    letter-spacing: 1px;
}

section {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
section h2 {
    font-size: 2rem;
    color: #0078d7;
    text-align: center;
}
section p {
    margin: 1rem 0;
}
/* footer */
footer {
    padding: 0 15px;
}

footer .title {
    margin-bottom: 20px;
    text-align: center;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .class-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.contact h4 {
    margin-bottom: 20px;
}
.contact form {
    display: flex;
    flex-direction: column;
}
.contact form input , textarea {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    resize: none;
    outline: 0;
}
.contact form button {
    width: fit-content;
    padding: 10px 25px;
    background-color: #93d6d0;
    border: 0;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.adress {
    width: 50%;
    height: 300px;
}
iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.end {
margin-top: 50px;
background-color: #333;
text-align: center;
font-size: 15px;
padding: 10px 0;
color: #fff;
} 